$dark-grey: #32373F;
$semi-grey: #474D57;
$light-grey: #999999;
$white: #ffffff;
$primary: #2A7D2A;
$dark-blue: #0266C8;
$light-blue: #E0F3FE;
$dark-border: #D1D1D1;
$light-border: #EFEFEB;
$text-grey: #525965;
$body-bg: #F5F5F5;
$input-text: #C4C4C4;
$folder: #F3AD2E;
$hover-bg: #F3F3F3;
$orange: #C63906;
$dark-red: #BD2030;
$card-content-border: 3px solid $orange;
$purple: #5558AF;
$progress-bg: #E5E5E5;

$title-1: #FDEED3;
$title-2: #DAD9FC;
$title-3: #EDF7EE;

$size-smaller: 11px;
$size-small: 12px;
$size-regular: 14px;
$size-medium: 16px;
$size-bold: 18px;
$size-bolder: 24px;

$font-regular: 'Roboto-Regular', sans-serif;
$font-medium: 'Roboto-Medium', sans-serif;
$font-bold: 'Roboto-Bold', sans-serif;

$shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
