.text-blue {
	color: $dark-blue !important;
}

.text-black {
	color: $text-grey;
}

.icon-folder {
	color: $folder !important;
}

.text-white {
	color: $white !important;
}

.text-red{
	color: $dark-red !important;
}

.text-orange{
	color: $orange !important;
}

.text-primary{
	color: $primary !important;
}

.text-purple{
	color: $purple !important;
}

.bg-orange {
	background-color: $orange !important;
}

.bg-purple {
	background-color: $purple !important;
}

.bg-primary {
	background-color: $primary !important;
}

.bg-blue{
	background-color: $dark-blue !important;
}

.bg-red{
	background-color: $dark-red !important;
}
